<div>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item offset-5">
        <a class="nav-link" routerLink="/addproduct">
          <h3>Add Product</h3>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item offset-5">
        <a class="nav-link" routerLink="/modifyproduct">
          <h3>Modify Product</h3>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item offset-5">
        <a class="nav-link" routerLink="/showallproducts">
          <h3>Show All Products</h3>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item offset-5">
        <a class="nav-link" routerLink="/add">
          <h3>Search</h3>
        </a>
      </li>
    </ul>
  </div>
