<div class="col-md-4 mt-5 card card-body offset-4">
    <h3 class="form-control bg-dark text-success">Compose Email</h3>
<form role="form" #form="ngForm" class="form-horizontal" (ngSubmit)="composeEmail(form)">
    <div class="row">
        <form #form1="ngForm" (click)="searchEmail(form1)" method="POST">
            
                <div class="form-group">
                    <label class="control-label">Email</label>
                    <input type="email" name="email" id="email" class="form-control" placeholder="Enter Your Email...." #email="ngModel" ngModel pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                    <div *ngIf="email.touched && email.invalid">
                        <div *ngIf="email.errors.required" class="text-danger text-center"> * this field is required</div>
                    </div>
                    <div *ngIf="email.errors && (email.touched || email.dirty)" class="text-danger text-center">
                        <div [hidden]="!email.errors?.pattern"> * enter a valid email address </div>
                    </div>
                    <button type="button" class="btn btn-outline-success float-right" *ngIf="!isEmail">Search</button>
                </div>
        </form>
    </div>
    
    <div *ngIf="isEmail">
    <div class="form-group">
        <label class="control-label">Subject</label>
        <input type="text" name="subject" id="subject" class="form-control" placeholder="Enter Subject...." #subject="ngModel" ngModel>
        <div *ngIf="subject.touched && subject.invalid">
            <div *ngIf="subject.errors.required" class="text-danger text-center"> * this field is required</div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">Message</label>
        <div>
            <textarea rows="10" cols="30" class="form-control" id="message" name="message" #message="ngModel" ngModel></textarea>
        </div>
    </div>

    <div class="form-group">
        <button type="submit" routerLink="/home" class="btn btn-outline-success float-left">Back</button>
        <button type="submit" class="btn btn-outline-success float-right" [disabled]="form.invalid" >Send</button>
    </div>
</div>
</form>
</div>